auto lo
iface lo inet loopback

auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet dhcp

auto {{ ansible_interfaces | difference(['lo',ansible_default_ipv4.interface]) | first }}
iface {{ ansible_interfaces | difference(['lo',ansible_default_ipv4.interface]) | first}} inet manual
up ip link set dev $IFACE up
down ip link set dev $IFACE down